.container {
    border-radius: 1rem;
    box-shadow: -5px 10px 10px 10px rgba(0,0,0,0.1);
    font-weight: 300 !important;
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    padding-bottom: 20px;
}

.table {
    margin-bottom: 1px !important;
    border-radius: 1rem;
}
.table thead{
    background-color: #96969652;
}